{% extends "base.html" %}
{% block title %}ShareHub | Nouveau fichier {% endblock %}

{% block content %}

<section id="hero">
  <div class="section-title">
    <h2>Déposer un nouveau fichier</h2>
  </div>

    <div class="d-flex align-items-center justify-content-center">
      <div class="container p-5 upload" data-aos="zoom-in" data-aos-delay="100">
        <form method="POST" enctype="multipart/form-data">
              <formgroup>
            <label for="namefile" class="form-label">Nom du fichier</label>
            <input type="name" class="form-control" id="namefile" name="namefile" required>
          </formgroup><br>
          <formgroup>
            <label for="fichier" class="form-label">Déposer le fichier</label>
            <input type="file" class="form-control" id="fichier" name="fichier" required>
          </formgroup><br>
          <formgroup>
            <label for="description" class="form-label">Description du fichier</label>
            <textarea id="description" class="form-control" name="description" placeholder="Ajouter une description..." required></textarea>
          </formgroup><br><br>
          <div class="btnform">
            <button type="submit" class="btn btn-primary">Valider</button>
            <button type="reset" class="btn btn-secondary">Annuler</button>
          </div>
        </form>
      </div>
    </div>
  </section><!-- End Hero -->

{% endblock %}